<div style="width: 300px; margin: 20px;" fxLayout="column" fxLayoutGap="10px">
    <h1>Edit Profile</h1>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput value="{{profile.email}}">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput value="{{profile.name}}">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <input matInput value="{{ profile.role }}">
        </mat-form-field>
    </div>
    <button mat-button style="background-color: black; color: white;">save changes</button>

</div>