mat-list-item {
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    border: solid 0.5px;
    margin-bottom: 10px;
}

mat-list-item:hover {

    background-color: rgb(172, 172, 172);
    cursor: pointer;
}

mat-list-item:active {

    background-color: rgb(144, 144, 144);
}
